/*------------------------------------*\
  #BUTTONS
\*------------------------------------*/

.btn-primary {
  border: 3px solid $java;
  border-radius: 0;
  padding: 11px 30px;
  background-color: $java;
  position: relative;
  font-size: 1.2rem;
  font-weight: 700;
  transition: all .25s ease-in-out;

  &:hover {
    background-color: darken($java, 5%);
    border: 3px solid $white;
    transition: all .25s ease-in-out;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    background-color: $black;
    border-color: $white;
  }
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: unset;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: unset;
}

.remove {
  position: absolute;
  font-size: 15px;
  background-color: $alto;
  padding: 3px 10px;
  border-radius: 50%;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all .25s ease-in-out;
}

.table-div {
  &:hover {
    .remove {
      visibility: visible;
      opacity: 1;
    }
  }

  &-two-person {
    .remove {
      top: -30px;
      left: -30px;
    }
  }

  &-four-person {
    .remove {
      top: -10px;
      left: -5px;
    }
  }
}